.modal-header h2{
text-align: center;
color: white;
}
.modal-header{
  background-color: #2A88AD;
}
.main{
  margin-top: 100px;
  text-align: left;
  margin-right: 300px;
}
.form-group{
  width: 80%;
}
.modal-footer{
  background-color: #2A88AD;
}
