body {
  background-color: #C0C0C0;
}

.example3 .navbar-brand {
  height: 80px;
}
img {
  border-radius: 15px;
}

.ex1 .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.ex1 .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}
footer {
    display: block;
}
.header{
  color: #FFFFFF;
  padding: 0px;
  margin: 0px;
}
.header h5{
  height: 100%;
  font-family: 'Graduate', cursive;
  font-size: 40px;
}
.menu{
  float: right;
}
