<<<<<<< HEAD
body {background-color: Turquoise;}
.example3 .navbar-brand {
  height: 80px;
}
img {
  border-radius: 15px;
}

.ex1 .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.ex1 .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}
footer {
    display: block;
=======
.jumbotron{
  background-color: #87ceeb;

}
#nav1{
  vertical-align: middle;
}
#logo{
  background-color: transparent;
>>>>>>> d4cc99e159e3d7e76fd802cc78e2c0a45c8f579a
}
